

	<h1> Main Page after login </h1>
	<h3> Featured Recipes </h3>
	<div id="pictures">

		<div id="box1">
			<div class="picturebox">
				<%= image_tag ("/assets/Blue_Cheese_Burger.jpg") %>
			</div>
			<div class="picturebox">
				<%= image_tag ("/assets/Buffalo_Chicken_Nachos.jpg") %>
			</div>
			<div class="picturebox">
				<%= image_tag ("/assets/Bacon_Wrapped_Jalapeno_Poppers.jpg") %>
			</div>
		</div>
		<div id="box2">
			<div class="picturebox2">
				<%= image_tag ("/assets/Chicken_Fried_Rice.jpg") %>

			</div>
			<div class="picturebox2">
				<%= image_tag ("/assets/Honey_Lime_Tequila_Shrimp_Tacos.jpg") %>

			</div>
			<div class="picturebox2">
				<%= image_tag ("/assets/Pastrami_Wrapped_Hot_Dog.jpg") %>

			</div>
		</div>

	</div>

